/* CSS files add styling rules to your content */

:root {
  --rows: repeat(3, 1fr);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#board {
  display: grid;
  grid-template-columns: var(--rows);
  grid-template-rows: var(--rows);
  height: 50vh;
  width: 50vh;
  border: solid black 2px;
  margin-bottom: 1em;
}

#board div {
  background: white;
  font-size: 1em;
  text-align: center;
  position: relative;
}

#board div img {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#board div.black {
  background: black;
}

.hidden {
  display: none;
}

#infobutton {
  position: fixed;
  top: 2px;
  left: 2px;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border: solid #444 2px;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}

#infobutton:hover {
  background: #444;
  color: white;
}

#info {
  position: fixed;
  background: white;
  padding: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -999px -999px 0 9999px #4444;
  height: 60vh;
  width: 60vh;
  z-index: 999;
}

#infoclose {
  font-size: 2em;
  position: fixed;
  top: -0.6em;
  top: calc(-0.5em + 5px);
  right: 5px;
  color: red;
  font-weight: 900;
  cursor: pointer;
}

.center {
  text-align: center;
  font-size: 1.2em;
}
